# Data Types and Operators Part 1

##### Some few things to note
1. case sensitive
2. spacing
3. errors
4. print function
5. variable naming

In [ ]:
print('Ama')
print('Kofi')

In [ ]:
# Print your name

In [ ]:
'Ama'
'Kofi'

### Variables naming

Variable naming:

* Use small letters and underscores and numbers where necessary
* Use meaningful names
* Do not allow space (s) in variable names
* Do not begin variables with numbers
* Do not use numbers alone as variable names
* Do not use python reserved words as a variable name

In [ ]:
student_name = 'Samuel'

student_name

In [ ]:
Student_name = "Benard"

Student_name

In [ ]:
studentName = "Kofi Abankro"

studentName

In [ ]:
StudentName = "Kwesi"

StudentName

In [ ]:
student1 = "Daniel"

student1

In [ ]:
student_1 = "Abonaki"

student_1

In [ ]:
# Create a variable to hold your name


# Print out the variable

### Arithmetric Operators

|Operator||Action|
|----||----|
|+||addition|
|-||subtraction|
|*||multiplication|
|/|| division|
|\**||exponential|
|%||modulo|
|\//|| integer division|

In [ ]:
# Add 3 to 4
3+4

In [ ]:
# Subtract 3 from 4
4 - 3

In [ ]:
# Multiply 3 by 4
3 * 4

In [ ]:
# Compute 3 modulo 4
3%4

In [ ]:
# Divide 3 by 4
3/4

In [ ]:
# Integer division of 3 by 4
3//4

In [ ]:
# Compute 3 exponent/index 4
3**4

In [ ]:
# Enter your age
age = _____

In [ ]:
# Compute your age in 5 years to come

In [ ]:
# Compute your age 5 years ago

In [ ]:
# Compute how many decades you've lived

In [ ]:
# Compute how many years you've spent in your upcoming decade

In [ ]:
# Enter your base wealth (Money)
amount = _____

In [ ]:
# Assuming your wealth doubles every decade, compute your wealth in the next 2 decades

### Assignment operators

|Operator||Action||Example||Equivalent Operation|
|----||----||----||----|
|=||assign a value||x=10||N/A|
|+=||add and assign||x+=10||x=x+10|
|-=||subtract and assign||x-=10||x=x-10|
|*=||multiply and assign||x*=10||x=x*10|
|/=||divide and assign||x/=10||x=x/10|
|\**=||exponentiate and assign||x\**=10||x=x\**10|
|%=||modulo and assign||x%=10||x=x%10|
|\//=||floor divide and assign||x\//=10||x=x\//10|

In [ ]:
#Examples
x = 45
y = 50
z = 30

In [ ]:
x += 25

x

In [ ]:
y -= z

y

In [ ]:
z *= z

z

In [ ]:
x /= 25

x

In [ ]:
y %= z

y

### Integers and floats

Integers: positive or negative whole numbers

Floats: decimals or floating points

In python, integers are represented by "int" and floats are represented by "float"

You can check the variable type using the in-built function "type()"

You can also change a variable from one type to the other.

In [ ]:
# Examples
age = 45                            
income = 578.64

In [ ]:
# use the type() function to check for variable type
print(type(age))
print(type(income))

In [ ]:
# convert age from int to float
age_float = float(age) 

# print out the converted value
print(age_float)

# print out the data type of age_float for confirmation
print(type(age_float))

In [ ]:
# convert income from float to int
income_int = __________

# print out the converted value
print(_________)

# print out the data type of income_int for confirmation
print(_____(income_int))

In [ ]:
round(578.64,0)

### Booleans
* True 
* False 

Booleans are represented as  'bool' in python

Python assigns the value '1' and '0' to True and False respectively

In [ ]:
a = True

b = False

In [ ]:
print(a)
print(b)

In [ ]:
print(a+b)

### Comparison operators

|Operator||Meaning|
|----||----|
|<||less than|
|>||greater than|
|<=||less than or equals to|
|>=||greater than or equals to|
|==||equals to|
|!=|| not equals to|

### Logical Operators

|Operator||Action|
|----||----|
|and||evaluates if both sides are True|
|or||evaluates if at least one side is True|
|not||inverses a boolean|

###  'and' logical operator

In [ ]:
7 > 5 and 3 < 5 # logical and operator yields true only and only if condition 1 and condition 2 yields true
                # other wise, it yieds false

In [ ]:
7 < 5 and 3 < 5 #False and True

In [ ]:
7 > 5 and 3 > 5 #True and False

In [ ]:
7 == 5 and 3 > 5 # False and False

### 'or' operator

In [ ]:
# The or operator yields False only and only if condition 1 and condition 2 yields false
# other wise, it yieds True
# Check the examples below

In [ ]:
#eg 1
100 <200 or 100 <50
# True    or   False = True

#### Explanation of eg 1

In [ ]:
100 <200 # condition 1 yields True

In [ ]:
100 <50 ## condition 2 yields False

Since condition 1 is True and condition 2 is False, the whole expression is True based on the or operator

In [ ]:
#eg_2
100 <200 or 100 >50 # since both are true, the whole expression is true based on the or operator

In [ ]:
#eg 3
100 >200 or 100 <50 # since both conditions are False, the whole expression is False based on the or operator

### not logical operator

In [ ]:
not(100 >200 or 100 <50) # The not negates the boolean.It turns True to False and False to True

In [ ]:
2<6

In [ ]:
not(2<6)

In [ ]:
6>10

In [ ]:
not(6>10)

### more examples

In [ ]:
x = 40+50+10
y = 120
print(x)
print(y)

In [ ]:
z = (34+45+12)-30 *2
print(z)

In [ ]:
print(x)
print(y)
print(z)

In [ ]:
# x equals y and x is less than z

In [ ]:
# x is less than y and x is less than z

In [ ]:
# x is less than y and x is greater than z

In [ ]:
# x equals y or x is less than z

In [ ]:
# x is less than y or x is less than z