# Data Structures

##### Basic Data Structures in Python include:
1. List
2. Tuples
3. Dictionaries

In [ ]:
# mutable #ordered

### list
1. lists are created using [ ] or the list()
2. list are ordered ( this means list can be indexed)
3. List are mutable (you can add or remove from a list)
4. They can hold different data types  or data structures at the same time

In [ ]:
# Examples

week_days = ['Monday','Tuesday','Wednesday','Thursday','Friday']

my_list = ['Ghana','Football',2,True, 5.9]

my_second_list = ['Derick','Roger',100,['Ghana','Football',2,True,5.9],False]

num = (1,2,3,4,5,6,7,8,9)

num_list = list(num)

In [ ]:
week_days

In [ ]:
print(week_days)

In [ ]:
type(week_days)

Create a list, areas, that contains the area of the hallway (hall), kitchen (kit), living room (liv), bedroom (bed) and bathroom (bath), in this order. Use the predefined variables.

Print areas with the print() function.

In [ ]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

In [ ]:
# Create list areas

In [ ]:
# Print areas

Rebuild the list so that the list first contains the name of each room as a string and then its area. In other words, add the strings "hallway", "kitchen" and "bedroom" at the appropriate locations.

In [ ]:
# Create list areas

In [ ]:
# Print areas

As a data scientist, you'll often be dealing with a lot of data, and it will make sense to group some of this data.

Instead of creating a list containing strings and floats, representing the names and areas of the rooms in your house, you can create a list of lists.

In [ ]:
# house information as list of lists

In [ ]:
# Print out house

### list indexing and slicing

In [ ]:
items = ['pen','pencil','erazor','book','table','chairs','computer']

In [ ]:
items[0]

In [ ]:
items[1]

In [ ]:
items[-1]

In [ ]:
items[-3]

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

In [ ]:
# Print out second element from areas

In [ ]:
# Print out last element from areas

In [ ]:
# Print out the area of the living room

### list slicing

In [ ]:
items[:] # The colon is used for slicing

In [ ]:
items[3:]

In [ ]:
items[-4:]

In [ ]:
items[:-4]

In [ ]:
items[:4]

In [ ]:
my_second_list = ['Derick','Roger',100,['Ghana','Football',2,True,5.9],False]

In [ ]:
len(my_second_list)

In [ ]:
my_second_list[3][0]

In [ ]:
my_second_list[3][0] = 'Nigeria'

In [ ]:
my_second_list

In [ ]:
my_second_list[3][1]= 'football'

In [ ]:
my_second_list

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

In [ ]:
# Use slicing to create downstairs

In [ ]:
# Use slicing to create upstairs

In [ ]:
# Print out downstairs and upstairs

### Subsetting lists of lists

In [ ]:
house = [["hallway", 11.25],
         ["kitchen", 18.0],
         ["living room", 20.0],
         ["bedroom", 10.75],
         ["bathroom", 9.50]]

In [ ]:
# Subset the house list to get the float 9.50

### list related functions and  methods
len(),min(),max(),sorted(),append(),extend(),pop(),remove(),insert(), .....

### len()

The len() function is used to check the number of elements in a data

In [ ]:
len(week_days)

In [ ]:
len(items)

In [ ]:
len(num_list)

### min(), max()

The min(),max() function return the least value and the maximum 

value respectively  in a numeric data.

They however behave differently with strings.

With strings, the position of the alphabets are used.

check the examples below.

In [ ]:
num_list

In [ ]:
min(num_list)

In [ ]:
max(num_list)

In [ ]:
week_days = ['Monday','Tuesday','Wednesday','Thursday','Friday']

In [ ]:
week_days

In [ ]:
min(week_days)

In [ ]:
max(week_days)

In [ ]:
week_ends = ['Saturday','Sunday']

In [ ]:
max(week_ends )

In [ ]:
min(week_ends )

### sorted()

It is used to sort elements in a data structure

In [ ]:
num_list

In [ ]:
sorted(num_list)

In [ ]:
sorted(num_list,reverse =True)

In [ ]:
points = [23,4,5,678,2,3,67,100,200,304]
print('sorting from the least to the greater:',sorted(points))
print()
print('sorting from the greater to the least:',sorted(points, reverse = True))

### join()

Join is a string method takes a list of strings as an argument, and returns a string consisting of the list elements joined by a separator string

In [ ]:
week_days = ['Monday','Tuesday','Wednesday','Thursday','Friday']

week_ends = ['Saturday','Sunday']
print(week_days)
print(week_ends)

In [ ]:
' and '.join(week_days)

In [ ]:
'/'.join(week_ends)

In [ ]:
#week_days.join(week_ends) # Do not do this assumming you want to combine the two lists.
                          # This will give you and error. Use the append method rather.

In [ ]:
message = "\n".join(["Data Analytis","with","python","is","powerful"])
print(message)

In [ ]:
message = "-".join(["Data Analytis","with","python","is","powerful"])
print(message)

In [ ]:
message = "/".join(["Data Analytis","with","python","is","powerful"])
print(message)

In [ ]:
names = ["Carol", "Albert", "Ben", "Donna"]
print(" & ".join(sorted(names)))

### append()

The append() method is used to add elements to a list.

In [ ]:
letters = ['a','b','c','d']

letters.append('z')
print(letters)

In [ ]:
names = ['Albert', 'Ben', 'Carol', 'Donna']
names.append("Eugenia")
print(sorted(names))

In [ ]:
len?

In [ ]:
help(len)

In [ ]:
integers = [] #Empty list

In [ ]:
integers.append(0)

In [ ]:
integers

In [ ]:
integers.append(1)

In [ ]:
integers


    Use the append() method to add the list ["poolhouse", 24.5] to the end of the areas list. Store the resulting list as areas_1.

In [ ]:
# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

In [ ]:
# Add poolhouse data to areas, new list is areas_1

In [ ]:
# Print out areas and areas_1

### Extend

In [ ]:
a = ['red','green','blue']

In [ ]:
b = ['yellow','pink']

In [ ]:
a.append(b)

In [ ]:
a

In [ ]:
a = ['red','green','blue']
b = ['yellow','pink']

In [ ]:
a.extend(b)

In [ ]:
a

Extend areas_1 by adding data on your garage. Add the string "garage" and float 15.45. Name the resulting list areas_2.

In [ ]:
# Add garage data to areas_1, new list is areas_2

In [ ]:
# Print out areas, areas_1 and areas_2

### pop()

In [ ]:
words = ['boy','girl','man','dog','man']

In [ ]:
words.pop()

In [ ]:
words

In [ ]:
words.pop()

In [ ]:
words

In [ ]:
words.pop()

In [ ]:
words

### remove()

In [ ]:
colors = ['red','gold','green','indigo']

In [ ]:
colors

In [ ]:
colors.remove('gold')
print(colors)

In [ ]:
colors

In [ ]:
del(colors)

In [ ]:
colors

In [ ]:
colors = ['red','gold','green','indigo']

In [ ]:
# Delete the string and float for the "poolhouse" from areas_1.

In [ ]:
# Print the updated areas_1 list.

# insert

In [ ]:
colors.insert(2,'yellow')
print(colors)

### Membership operators

Membership operators are used to check if a particular item is a

member of a given data type or  structure. 

They return a boolean when used.

Membership operators include:
**in** – used to check whether an element is part of a data type or structure.
**not in** - used to check whether an element is not part of a data type or structure.

In [ ]:
#Example
vegetables = ['onions', 'pepper','okra','lettuce']

'pepper' in vegetables

In [ ]:
'yam' in vegetables

In [ ]:
'pepper' not in vegetables

In [ ]:
'yam' not in vegetables

In [ ]:
vegetables

# tuples

1. Tuples are created using ( ) or tuple()
2. Tuples are ordered ( this means tuple can be indexed)
3. Tuples are immutable (you can't add or remove from a tuple once it is created)
4. They can hold different data types  or data structures at the same time

In [ ]:
x = 5,4

In [ ]:
type(x)

In [ ]:
tuple_a = 'one','two','three'

tuple_b = (1,2,3)

tuple_c = 1,2,3

t1 = ('t',2,3,True,4.0)

t2 = (45,'Hi',('t',2,3,True,4.0),[1,2,3])


print(tuple_a)
print(tuple_b)
print(tuple_c)
print(t1)
print(t2)
print()
print(tuple_b == tuple_c)
print()
print(tuple_a[1])

In [ ]:
t3 = 10,

t4 = (10,11)

print(type(t3))
print(type(t4))

In [ ]:
marks = 70,87,90

In [ ]:
Ernest,Ola,Isaac = marks # tuple unpacking

In [ ]:
Ernest

In [ ]:
Ola

In [ ]:
Isaac

In [ ]:
class_mates = ('Kelden','Jessica','Auralia','Domenic')

In [ ]:
class_mates[0]

In [ ]:
# Print out last class mate

In [ ]:
#class_mates.append('Jessie')

In [ ]:
kofi_score = 80, 92, 86
assignment_score, exercise_score, test_score = kofi_score

In [ ]:
print(assignment_score)
print(exercise_score)
print(test_score)

In [ ]:
country_and_capital = [('Ghana','Accra'),('Nigeria','Abuja'),('Togo','Lome')]

In [ ]:
country_and_capital

In [ ]:
country_and_capital[0]

In [ ]:
country_and_capital[0] = ('Tanzania','Dodoma')

In [ ]:
country_and_capital

In [ ]:
#country_and_capital[0][0] = 'Ghana'

# Dictionaries

A dictionary in python is a mutable data type that stores mappings of unique keys to values.

They are created by using { } or dict().

Dictionaries can have keys of any immutable type, like integers or tuples, not just strings. It’s also not compulsory for every key to have the same data type.

Elements in a dictionary can be accessed using the keys and [ ].

One important dictionary related method is the get() method.

The get() method looks up values in a dictionary, but unlike square brackets, get()
returns None (or a default value of your choice) if the key isn't found.

In [ ]:
# Example
students_score = {'Ursula' :80, 'Aaron':79,'Jasmine':90}

In [ ]:
type(students_score )

In [ ]:
students_score

In [ ]:
students_score['Ursula']

In [ ]:
students_score.get('Ursula')

In [ ]:
students_score.keys()

In [ ]:
students_score.values()

In [ ]:
'John' in students_score.keys()

In [ ]:
print(students_score['John']) # this will throw an error at you since Sampson is not part of the keys

In [ ]:
print(students_score.get('John')) # This will return none

In [ ]:
print(students_score.get('John','Not a key'))

In [ ]:
d = {'A':100, 'B':200, 'C':100}

In [ ]:
print(d.items())

In [ ]:
d['C']

In [ ]:
d.keys()

In [ ]:
'D' in d.keys()

In [ ]:
d['D'] = 300

In [ ]:
d

In [ ]:
#  Change the value of A to 200

In [ ]:
d

In [ ]:
d.get('E',"It doesn't exist")

In [ ]:
d

Using the strings in countries and capitals variables, the zip() function and a for loop, create a dictionary called europe. Use strings in countries as keys and that in capitals as values.

In [ ]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway', 'australia']
capitals = ['madrid', 'paris', 'berlin', 'oslo', 'vienna']

In [ ]:
# Create dictionary europe

In [ ]:
# Print europe

In [ ]:
# Print out the keys in europe

In [ ]:
# Print out value that belongs to key 'norway'

In [ ]:
# Add the key 'italy' with the value 'rome' to europe

In [ ]:
# Assert that 'italy' is now a key in europe
print('italy' in europe)

Add another key:value pair to europe: 'poland' is the key, 'warsaw' is the corresponding value.
The capital of Germany is not 'bonn'; it's 'berlin'. Update its value.
Australia is not in Europe, Austria is! Remove the key 'australia' from europe.

In [ ]:
# Add poland to europe

In [ ]:
# Print europe

In [ ]:
# Update capital of germany

In [ ]:
# Remove australia

In [ ]:
# Print europe

In [ ]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

In [ ]:
# Print out the capital of France

In [ ]:
# Create a dictionary, named data, with the keys 'capital' and 'population'. 
# Set them to 'rome' and 59.83, respectively.

In [ ]:
# Add the dictionary created above, data to europe under key 'italy'

In [ ]:
# Print europe

### Dictionary related methods

In [ ]:
t = d.items()

In [ ]:
type(t)

In [ ]:
y = {}

In [ ]:
type(y)